body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #212121;
}

li {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #e0afa0;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: 0% 50%;
}

li:hover:after {
  transform: scaleX(1);
}

.active {
  display: block;
}

.disabled {
  display: none;
}