@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Great+Vibes&family=Ibarra+Real+Nova:wght@500&family=Karma:wght@300;500;700&family=Source+Code+Pro:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #262626;
}

li {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #e0afa0;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: 0% 50%;
}

li:hover:after {
  transform: scaleX(1);
}

.active {
  display: block;
}

.h1-name {
  font-family: "Great Vibes", cursive;
}

.p-description,
.button-contact,
.p-Project,
.p-DescriptionContact {
  font-family: "Comfortaa", cursive;
}

.openNav {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 1;
  position: absolute;
}

.openNavUl {
  display: inline-flex !important;
  padding: 60px 40px;
  background-color: rgb(0, 0, 0, 0.95);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  flex-direction: column;
  gap: 20px;
}

.openNavLi {
  z-index: 1;
  opacity: 1;
}

.disabledNav {
  opacity: 0;
}

.h1-aboutMy,
.h1-projectsMy,
.h3-introdution,
.h1-Project,
.h1-Skills,
.inputFocus,
.inputFocus::placeholder {
  font-family: "Karma", serif;
}

.divCard:hover .divBackground {
  display: flex;
  background-color: #eebcae;
}

.divBackground:hover .imgProject {
  display: none;
}

.divBackground:hover .divDescription {
  display: flex;
}

.divBallBlue {
  background-color: rgba(55, 165, 230, 0.63);
}

.divBallPurple {
  background-color: rgba(216, 59, 182, 0.527);
}

.divBallRed {
  background-color: rgba(221, 68, 68, 0.774);
}


@keyframes carousel {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  30% {
    margin-left: -200%;
  }
  35% {
    margin-left: -200%;
  }
  40% {
    margin-left: -300%;
  }
  45% {
    margin-left: -300%;
  }
  50% {
    margin-left: -400%;
  }
  55% {
    margin-left: -400%;
  }
  60% {
    margin-left: -500%;
  }
  65% {
    margin-left: -500%;
  }
  70% {
    margin-left: -600%;
  }
  75% {
    margin-left: -600%;
  }
  80% {
    margin-left: -700%;
  }
  85% {
    margin-left: -700%;
  }
  90% {
    margin-left: -800%;
  }
  100% {
    margin-left: -800%;
  }
}

.galery .photos {
  width: 500%;
  display: flex;
  animation-name: carousel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

