@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Great+Vibes&family=Ibarra+Real+Nova:wght@500&family=Karma:wght@300;500;700&family=Source+Code+Pro:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #212121;
}

li {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #e0afa0;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: 0% 50%;
}

li:hover:after {
  transform: scaleX(1);
}

.active {
  display: block;
}

.h3-introdution {
  font-family: "Karma", serif;
}

.h1-name {
  font-family: "Great Vibes", cursive;
}

.p-description {
  font-family: "Comfortaa", cursive;
}

.button-contact {
  font-family: "Comfortaa", cursive;
}

.openNav {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 1;
  position: absolute;
}

.openNavUl {
  display: inline-flex !important;
  padding: 60px 40px;
  background-color: rgb(0, 0, 0, 0.95);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  flex-direction: column;
  gap: 20px;
}

.openNavLi {
  z-index: 1;
  opacity: 1;
}

.disabledNav {
  opacity: 0;
}

.h1-aboutMy {
  font-family: "Karma", serif;
}

.h1-projectsMy {
  font-family: "Karma", serif;
}

.divCard:hover .divDescription {
  opacity: 1;
  transition: 3s;
  transition-timing-function: ease-in-out;
}

.imgProjeto:hover .divDescription {
  opacity: 1;
  transition: 3s;
  transition-timing-function: ease-in-out;
}

.h1-Project {
  font-family: "Karma", serif;
}

.p-Project {
  font-family: "Comfortaa", cursive;
}